html,
body {
  width: 300px;
  height: 300px;
  margin: 0;
  background-color: #222;
}

#connection-status {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.success {
  background-color: green;
  color: white;
}

.failure {
  background-color: #e22;
  color: white;
}

button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}
